USE [ThcDbFinal]
GO
/****** Object:  Table [dbo].[Estadoes]    Script Date: 12/05/2014 16:13:03 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Estadoes](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[DescripcionEstado] [nvarchar](max) NULL,
 CONSTRAINT [PK_dbo.Estadoes] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[Estadoes] ON
INSERT [dbo].[Estadoes] ([Id], [DescripcionEstado]) VALUES (1, N'Operativo')
INSERT [dbo].[Estadoes] ([Id], [DescripcionEstado]) VALUES (2, N'Mantenimiento')
INSERT [dbo].[Estadoes] ([Id], [DescripcionEstado]) VALUES (3, N'Reparación')
SET IDENTITY_INSERT [dbo].[Estadoes] OFF
/****** Object:  Table [dbo].[Conductors]    Script Date: 12/05/2014 16:13:03 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Conductors](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[NameConductor] [nvarchar](max) NULL,
 CONSTRAINT [PK_dbo.Conductors] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[Conductors] ON
INSERT [dbo].[Conductors] ([Id], [NameConductor]) VALUES (1, N'Gerson Cabanillas Yepez')
INSERT [dbo].[Conductors] ([Id], [NameConductor]) VALUES (2, N'Dany Valdivia Huaman')
INSERT [dbo].[Conductors] ([Id], [NameConductor]) VALUES (3, N'Jhoel Saldaña Ñontol')
SET IDENTITY_INSERT [dbo].[Conductors] OFF
/****** Object:  Table [dbo].[Cliente]    Script Date: 12/05/2014 16:13:03 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Cliente](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[DniRuc] [nvarchar](11) NOT NULL,
	[TipoDoc] [bit] NOT NULL,
	[NombresRazonSocial] [nvarchar](max) NOT NULL,
	[AppPaterno] [nvarchar](max) NULL,
	[AppMaterno] [nvarchar](max) NULL,
	[Celular] [int] NOT NULL,
	[Telefono] [nvarchar](max) NOT NULL,
	[Direccion] [nvarchar](max) NOT NULL,
	[Email] [nvarchar](max) NOT NULL,
	[Comentarios] [nvarchar](max) NULL,
 CONSTRAINT [PK_dbo.Cliente] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[Cliente] ON
INSERT [dbo].[Cliente] ([Id], [DniRuc], [TipoDoc], [NombresRazonSocial], [AppPaterno], [AppMaterno], [Celular], [Telefono], [Direccion], [Email], [Comentarios]) VALUES (1, N'71621467', 1, N'Alexander Raúl', N'Cabrera', N'Guevara', 978267995, N'506349', N'Jr. San Salvador # 617', N'arcabrerag@outlook.com', N'Sin Comentarios')
INSERT [dbo].[Cliente] ([Id], [DniRuc], [TipoDoc], [NombresRazonSocial], [AppPaterno], [AppMaterno], [Celular], [Telefono], [Direccion], [Email], [Comentarios]) VALUES (2, N'44151194', 1, N'Jonathan', N'Villacorta', N'Ramírez', 919582455, N'365261', N'Jr. Las Torresitas # 1582', N'neo_1@hotmail.com', N'-')
INSERT [dbo].[Cliente] ([Id], [DniRuc], [TipoDoc], [NombresRazonSocial], [AppPaterno], [AppMaterno], [Celular], [Telefono], [Direccion], [Email], [Comentarios]) VALUES (3, N'98849451', 1, N'Ruth', N'Taica', N'Sánchez', 976258143, N'364859', N'Jr. El Maestro # 963', N'ruth_yov@gmail.com', N'-')
SET IDENTITY_INSERT [dbo].[Cliente] OFF
/****** Object:  Table [dbo].[Ciudads]    Script Date: 12/05/2014 16:13:03 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Ciudads](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[NameCiudad] [nvarchar](max) NULL,
 CONSTRAINT [PK_dbo.Ciudads] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[Ciudads] ON
INSERT [dbo].[Ciudads] ([Id], [NameCiudad]) VALUES (1, N'Cajamarca')
INSERT [dbo].[Ciudads] ([Id], [NameCiudad]) VALUES (2, N'Lima')
INSERT [dbo].[Ciudads] ([Id], [NameCiudad]) VALUES (3, N'Trujillo')
SET IDENTITY_INSERT [dbo].[Ciudads] OFF
/****** Object:  Table [dbo].[webpages_Roles]    Script Date: 12/05/2014 16:13:03 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[webpages_Roles](
	[RoleId] [int] IDENTITY(1,1) NOT NULL,
	[RoleName] [nvarchar](256) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[RoleId] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY],
UNIQUE NONCLUSTERED 
(
	[RoleName] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[webpages_Roles] ON
INSERT [dbo].[webpages_Roles] ([RoleId], [RoleName]) VALUES (2, N'Admin')
INSERT [dbo].[webpages_Roles] ([RoleId], [RoleName]) VALUES (1, N'SuperAdmin')
INSERT [dbo].[webpages_Roles] ([RoleId], [RoleName]) VALUES (3, N'User')
SET IDENTITY_INSERT [dbo].[webpages_Roles] OFF
/****** Object:  Table [dbo].[webpages_OAuthMembership]    Script Date: 12/05/2014 16:13:03 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[webpages_OAuthMembership](
	[Provider] [nvarchar](30) NOT NULL,
	[ProviderUserId] [nvarchar](100) NOT NULL,
	[UserId] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[Provider] ASC,
	[ProviderUserId] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[webpages_Membership]    Script Date: 12/05/2014 16:13:03 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[webpages_Membership](
	[UserId] [int] NOT NULL,
	[CreateDate] [datetime] NULL,
	[ConfirmationToken] [nvarchar](128) NULL,
	[IsConfirmed] [bit] NULL,
	[LastPasswordFailureDate] [datetime] NULL,
	[PasswordFailuresSinceLastSuccess] [int] NOT NULL,
	[Password] [nvarchar](128) NOT NULL,
	[PasswordChangedDate] [datetime] NULL,
	[PasswordSalt] [nvarchar](128) NOT NULL,
	[PasswordVerificationToken] [nvarchar](128) NULL,
	[PasswordVerificationTokenExpirationDate] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[UserId] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
INSERT [dbo].[webpages_Membership] ([UserId], [CreateDate], [ConfirmationToken], [IsConfirmed], [LastPasswordFailureDate], [PasswordFailuresSinceLastSuccess], [Password], [PasswordChangedDate], [PasswordSalt], [PasswordVerificationToken], [PasswordVerificationTokenExpirationDate]) VALUES (1, CAST(0x0000A3F8014FAC18 AS DateTime), NULL, 1, NULL, 0, N'AIBHSQxQqz/AKpcx2pKUASxMLon4o7AFQcgO4z3JAB1FFKsYRGFDBEMMTHm8pMmUfA==', CAST(0x0000A3F8014FAC18 AS DateTime), N'', NULL, NULL)
INSERT [dbo].[webpages_Membership] ([UserId], [CreateDate], [ConfirmationToken], [IsConfirmed], [LastPasswordFailureDate], [PasswordFailuresSinceLastSuccess], [Password], [PasswordChangedDate], [PasswordSalt], [PasswordVerificationToken], [PasswordVerificationTokenExpirationDate]) VALUES (2, CAST(0x0000A3F8014FC25E AS DateTime), NULL, 1, NULL, 0, N'ALHL9nPGUlSa17YfFUR2CK9qSYaFbYnx4JubnYOeOo7BzhCO6cUuSAZeoHFRsfNJGg==', CAST(0x0000A3F8014FC25E AS DateTime), N'', NULL, NULL)
INSERT [dbo].[webpages_Membership] ([UserId], [CreateDate], [ConfirmationToken], [IsConfirmed], [LastPasswordFailureDate], [PasswordFailuresSinceLastSuccess], [Password], [PasswordChangedDate], [PasswordSalt], [PasswordVerificationToken], [PasswordVerificationTokenExpirationDate]) VALUES (3, CAST(0x0000A3F8014FD74A AS DateTime), NULL, 1, NULL, 0, N'AMBWtx5M2MLQYexEQy5vAnsPTOmWEgwYqfblh4CuPnjZkxk2Kd43bKfu+VzvtLGC+Q==', CAST(0x0000A3F8014FD74A AS DateTime), N'', NULL, NULL)
/****** Object:  Table [dbo].[UserProfile]    Script Date: 12/05/2014 16:13:03 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[UserProfile](
	[UserId] [int] IDENTITY(1,1) NOT NULL,
	[UserName] [nvarchar](56) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[UserId] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY],
UNIQUE NONCLUSTERED 
(
	[UserName] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[UserProfile] ON
INSERT [dbo].[UserProfile] ([UserId], [UserName]) VALUES (1, N'Alex')
INSERT [dbo].[UserProfile] ([UserId], [UserName]) VALUES (3, N'Neo')
INSERT [dbo].[UserProfile] ([UserId], [UserName]) VALUES (2, N'Ruth')
SET IDENTITY_INSERT [dbo].[UserProfile] OFF
/****** Object:  Table [dbo].[Unidads]    Script Date: 12/05/2014 16:13:03 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Unidads](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[DescripcionUnidad] [nvarchar](max) NULL,
 CONSTRAINT [PK_dbo.Unidads] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[Unidads] ON
INSERT [dbo].[Unidads] ([Id], [DescripcionUnidad]) VALUES (1, N'Moto Taxi')
INSERT [dbo].[Unidads] ([Id], [DescripcionUnidad]) VALUES (2, N'Taxi')
INSERT [dbo].[Unidads] ([Id], [DescripcionUnidad]) VALUES (3, N'Omnibus')
SET IDENTITY_INSERT [dbo].[Unidads] OFF
/****** Object:  Table [dbo].[__MigrationHistory]    Script Date: 12/05/2014 16:13:03 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[__MigrationHistory](
	[MigrationId] [nvarchar](150) NOT NULL,
	[ContextKey] [nvarchar](300) NOT NULL,
	[Model] [varbinary](max) NOT NULL,
	[ProductVersion] [nvarchar](32) NOT NULL,
 CONSTRAINT [PK_dbo.__MigrationHistory] PRIMARY KEY CLUSTERED 
(
	[MigrationId] ASC,
	[ContextKey] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[webpages_UsersInRoles]    Script Date: 12/05/2014 16:13:03 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[webpages_UsersInRoles](
	[UserId] [int] NOT NULL,
	[RoleId] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[UserId] ASC,
	[RoleId] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
INSERT [dbo].[webpages_UsersInRoles] ([UserId], [RoleId]) VALUES (1, 1)
INSERT [dbo].[webpages_UsersInRoles] ([UserId], [RoleId]) VALUES (2, 2)
INSERT [dbo].[webpages_UsersInRoles] ([UserId], [RoleId]) VALUES (3, 3)
/****** Object:  Table [dbo].[Proveedor]    Script Date: 12/05/2014 16:13:03 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Proveedor](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[NroRUC] [nvarchar](15) NOT NULL,
	[RazonSocial] [nvarchar](max) NOT NULL,
	[Direccion] [nvarchar](max) NULL,
	[Telefono] [nvarchar](max) NULL,
	[Celular] [nvarchar](max) NULL,
	[Email] [nvarchar](max) NULL,
	[CiudadId] [int] NULL,
 CONSTRAINT [PK_dbo.Proveedor] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[Proveedor] ON
INSERT [dbo].[Proveedor] ([Id], [NroRUC], [RazonSocial], [Direccion], [Telefono], [Celular], [Email], [CiudadId]) VALUES (1, N'26585487445', N'Automotriz Santa Elena', N'Av. El Maestro # 3234', N'347667', N'966897645', N'santa@outlook.com', 1)
INSERT [dbo].[Proveedor] ([Id], [NroRUC], [RazonSocial], [Direccion], [Telefono], [Celular], [Email], [CiudadId]) VALUES (2, N'26585546754', N'Ferreyros S.A.C', N'Jr. Tulipanes # 2908', N'367856', N'98978765', N'Ferrycop@asd.com', 1)
INSERT [dbo].[Proveedor] ([Id], [NroRUC], [RazonSocial], [Direccion], [Telefono], [Celular], [Email], [CiudadId]) VALUES (3, N'26585356476', N'La Cachina', N'Jr. Todo Robado # 147', N'506344', N'978267993', N'Teroboytelovendo@outlook.com', 5)
SET IDENTITY_INSERT [dbo].[Proveedor] OFF
/****** Object:  Table [dbo].[Auto]    Script Date: 12/05/2014 16:13:03 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Auto](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Placa] [nvarchar](15) NOT NULL,
	[Imagen] [image] NULL,
	[EstadoId] [int] NULL,
	[UnidadId] [int] NULL,
 CONSTRAINT [PK_dbo.Auto] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[Auto] ON
INSERT [dbo].[Auto] ([Id], [Placa], [Imagen], [EstadoId], [UnidadId]) VALUES (1, N'MKZ-102', NULL, 1, 2)
INSERT [dbo].[Auto] ([Id], [Placa], [Imagen], [EstadoId], [UnidadId]) VALUES (2, N'MLJ-132', NULL, 3, 3)
INSERT [dbo].[Auto] ([Id], [Placa], [Imagen], [EstadoId], [UnidadId]) VALUES (3, N'MNM-675', NULL, 5, 5)
SET IDENTITY_INSERT [dbo].[Auto] OFF
/****** Object:  Table [dbo].[Alquiler]    Script Date: 12/05/2014 16:13:03 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Alquiler](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[FechaServicio] [nvarchar](max) NOT NULL,
	[HoraServicio] [nvarchar](max) NOT NULL,
	[LugarReferencia] [nvarchar](max) NOT NULL,
	[ClienteId] [int] NULL,
	[AutoId] [int] NULL,
	[ConductorId] [int] NULL,
	[FechaInicio] [nvarchar](max) NOT NULL,
	[FechaFin] [nvarchar](max) NOT NULL,
	[NroDias] [int] NOT NULL,
	[MontoXdia] [float] NOT NULL,
	[MontoTotal] [float] NOT NULL,
 CONSTRAINT [PK_dbo.Alquiler] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[Alquiler] ON
INSERT [dbo].[Alquiler] ([Id], [FechaServicio], [HoraServicio], [LugarReferencia], [ClienteId], [AutoId], [ConductorId], [FechaInicio], [FechaFin], [NroDias], [MontoXdia], [MontoTotal]) VALUES (1, N'13/12/2014', N'03:50 PM', N'Makumba', 4, 1, 3, N'01/11/2014', N'15/11/2014', 15, 100, 1500)
INSERT [dbo].[Alquiler] ([Id], [FechaServicio], [HoraServicio], [LugarReferencia], [ClienteId], [AutoId], [ConductorId], [FechaInicio], [FechaFin], [NroDias], [MontoXdia], [MontoTotal]) VALUES (2, N'10/12/2014', N'03:51 PM', N'GYM Los Punchudos', 1, 3, 1, N'05/12/2014', N'10/12/2014', 6, 35, 210)
INSERT [dbo].[Alquiler] ([Id], [FechaServicio], [HoraServicio], [LugarReferencia], [ClienteId], [AutoId], [ConductorId], [FechaInicio], [FechaFin], [NroDias], [MontoXdia], [MontoTotal]) VALUES (3, N'07/12/2014', N'03:52 PM', N'Iglesia Mormones', 3, 3, 4, N'10/12/2014', N'28/12/2014', 19, 15, 285)
SET IDENTITY_INSERT [dbo].[Alquiler] OFF
/****** Object:  Default [DF__webpages___IsCon__22AA2996]    Script Date: 12/05/2014 16:13:03 ******/
ALTER TABLE [dbo].[webpages_Membership] ADD  DEFAULT ((0)) FOR [IsConfirmed]
GO
/****** Object:  Default [DF__webpages___Passw__239E4DCF]    Script Date: 12/05/2014 16:13:03 ******/
ALTER TABLE [dbo].[webpages_Membership] ADD  DEFAULT ((0)) FOR [PasswordFailuresSinceLastSuccess]
GO
/****** Object:  ForeignKey [FK_dbo.Alquiler_dbo.Auto_AutoId]    Script Date: 12/05/2014 16:13:03 ******/
ALTER TABLE [dbo].[Alquiler]  WITH CHECK ADD  CONSTRAINT [FK_dbo.Alquiler_dbo.Auto_AutoId] FOREIGN KEY([AutoId])
REFERENCES [dbo].[Auto] ([Id])
GO
ALTER TABLE [dbo].[Alquiler] CHECK CONSTRAINT [FK_dbo.Alquiler_dbo.Auto_AutoId]
GO
/****** Object:  ForeignKey [FK_dbo.Alquiler_dbo.Cliente_ClienteId]    Script Date: 12/05/2014 16:13:03 ******/
ALTER TABLE [dbo].[Alquiler]  WITH CHECK ADD  CONSTRAINT [FK_dbo.Alquiler_dbo.Cliente_ClienteId] FOREIGN KEY([ClienteId])
REFERENCES [dbo].[Cliente] ([Id])
GO
ALTER TABLE [dbo].[Alquiler] CHECK CONSTRAINT [FK_dbo.Alquiler_dbo.Cliente_ClienteId]
GO
/****** Object:  ForeignKey [FK_dbo.Alquiler_dbo.Conductors_ConductorId]    Script Date: 12/05/2014 16:13:03 ******/
ALTER TABLE [dbo].[Alquiler]  WITH CHECK ADD  CONSTRAINT [FK_dbo.Alquiler_dbo.Conductors_ConductorId] FOREIGN KEY([ConductorId])
REFERENCES [dbo].[Conductors] ([Id])
GO
ALTER TABLE [dbo].[Alquiler] CHECK CONSTRAINT [FK_dbo.Alquiler_dbo.Conductors_ConductorId]
GO
/****** Object:  ForeignKey [FK_dbo.Auto_dbo.Estadoes_EstadoId]    Script Date: 12/05/2014 16:13:03 ******/
ALTER TABLE [dbo].[Auto]  WITH CHECK ADD  CONSTRAINT [FK_dbo.Auto_dbo.Estadoes_EstadoId] FOREIGN KEY([EstadoId])
REFERENCES [dbo].[Estadoes] ([Id])
GO
ALTER TABLE [dbo].[Auto] CHECK CONSTRAINT [FK_dbo.Auto_dbo.Estadoes_EstadoId]
GO
/****** Object:  ForeignKey [FK_dbo.Auto_dbo.Unidads_UnidadId]    Script Date: 12/05/2014 16:13:03 ******/
ALTER TABLE [dbo].[Auto]  WITH CHECK ADD  CONSTRAINT [FK_dbo.Auto_dbo.Unidads_UnidadId] FOREIGN KEY([UnidadId])
REFERENCES [dbo].[Unidads] ([Id])
GO
ALTER TABLE [dbo].[Auto] CHECK CONSTRAINT [FK_dbo.Auto_dbo.Unidads_UnidadId]
GO
/****** Object:  ForeignKey [FK_dbo.Proveedor_dbo.Ciudads_CiudadId]    Script Date: 12/05/2014 16:13:03 ******/
ALTER TABLE [dbo].[Proveedor]  WITH CHECK ADD  CONSTRAINT [FK_dbo.Proveedor_dbo.Ciudads_CiudadId] FOREIGN KEY([CiudadId])
REFERENCES [dbo].[Ciudads] ([Id])
GO
ALTER TABLE [dbo].[Proveedor] CHECK CONSTRAINT [FK_dbo.Proveedor_dbo.Ciudads_CiudadId]
GO
/****** Object:  ForeignKey [fk_RoleId]    Script Date: 12/05/2014 16:13:03 ******/
ALTER TABLE [dbo].[webpages_UsersInRoles]  WITH CHECK ADD  CONSTRAINT [fk_RoleId] FOREIGN KEY([RoleId])
REFERENCES [dbo].[webpages_Roles] ([RoleId])
GO
ALTER TABLE [dbo].[webpages_UsersInRoles] CHECK CONSTRAINT [fk_RoleId]
GO
/****** Object:  ForeignKey [fk_UserId]    Script Date: 12/05/2014 16:13:03 ******/
ALTER TABLE [dbo].[webpages_UsersInRoles]  WITH CHECK ADD  CONSTRAINT [fk_UserId] FOREIGN KEY([UserId])
REFERENCES [dbo].[UserProfile] ([UserId])
GO
ALTER TABLE [dbo].[webpages_UsersInRoles] CHECK CONSTRAINT [fk_UserId]
GO
